body{
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right,#2b32b2,#1488cc);
  justify-content: center;
  align-items: center;
  font-family: 'Lato' !important;
  /*color: white;*/
}

h1{
  text-align: center;
  margin-bottom: 30px;
}

.write {
  padding-top: 50px;
  width: 100vw;
}

.writeForm {
  position: relative;
}

.writeSelection {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.selectionBox{
  margin-left: 10px;
  height: 35px;
}

.writeFormGroup {
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput::plv wholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit{
  /* position: absolute; */
  top: 20px;
  right: 50px;
  color: white;
  /* background-color: rgb(167, 86, 167); */
  background-color: rgb(54, 136, 163);
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.postBanner{
  font-size: 25px;
  width: 100%;
  text-align: center;
  /* font-family: "Apple Chancery", cursive; */
}
